@charset "utf-8";
/* CSS Document */

header{
	border-bottom:solid 1px #c0c0c0;
	padding:17px 0;}
.navbar-default{
	background:none;
	border:none;}
.navbar{border-radius:0;
margin:0;}
.navbar-brand{
	padding:0;
	height:150px;}
	

.navbar-default .navbar-nav >li >a{
	color:#e90;
	font-size:12px;
	font-weight:bold;
	font-family: Arial;
	text-transform:uppercase;
	}

h4{text-transform:uppercase;
color:#F90;
font-weight:bold;
font-family:Arial;

}
.ciu{text-transform:uppercase;
color:#090909;
font-weight:bold;
font-family:Arial;}
.fix{padding:20px 0;
border-bottom:solid 1px #c0c0c0;}

.mau{background:#C36}
.phai{right:!important}




